[submodule "Megatron-LM-230512"]
	path = Megatron-LM-230512
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "Megatron-LM-231007"]
	path = Megatron-LM-231007
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "Megatron-LM-240126"]
	path = Megatron-LM-240126
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "LM-Evaluation-Harness-240202"]
	path = LM-Evaluation-Harness-240202
	url = https://github.com/jerryli1981/lm-evaluation-harness.git
