icetk
ftfy
hjson
ninja
tokenizers
transformers>=4.38.2
accelerate>=0.23.0
datasets==2.16.1
wcwidth==0.2.12
pyarrow
jieba
sentencepiece
rjieba
sqlitedict
sacrebleu
datasets
tensorboard
lm_dataformat
tiktoken